@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "DM Sans", sans-serif;
}

.banner_image{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/banner4.avif');
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
.banner_image2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/banner2.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
.banner_image3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/banner3.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: top center;
}